body {
  margin: 0;
  background-color: lightcyan;
  background-image: url("./assets/voronoi-bg-v0.png");
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sigCanvas {
  display: inline-block;
}

.main-app {
  margin-top: 8vh;
}

.navbar-nav { 
    flex-direction: row;
}

.svg-img{
  background: #ffffff;
}
